Repository datacosmos-br/dc-api-x, changes with the labels that .github/labeler.yml gives for each.
All labels: plugins, extensions, entity, schema, documentation, testing, dependencies, github-actions

.github/labeler.yml:

# Add 'core' label to any changes in the core module
core:
  - src/dc_api_x/!(plugins|ext|entity|schema)/**/*
  - src/dc_api_x/*.py

# Add 'plugins' label to any change within the plugins folder
plugins:
  - src/dc_api_x/plugins/**/*

# Add 'extensions' label to any change within the ext folder
extensions:
  - src/dc_api_x/ext/**/*

# Add 'entity' label to any change within the entity folder
entity:
  - src/dc_api_x/entity/**/*

# Add 'schema' label to any change within the schema folder
schema:
  - src/dc_api_x/schema/**/*

# Add 'documentation' label to any change to the docs folder
documentation:
  - docs/**/*
  - "**/*.md"

# Add 'testing' label to any change to the tests folder
testing:
  - tests/**/*

# Add 'dependencies' label to any change to dependency files
dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements*.txt

# Add 'github-actions' label to any change to the workflows folder
github-actions:
  - .github/workflows/**/*
  - .github/*.yml

Fix Ruff TRY301 and RET506 issues in client.py
  src/dc_api_x/client.py
Labels: none

Fix F811 errors by removing redefined AsyncDatabaseTransaction and AsyncDatabaseAdapter classes
  src/dc_api_x/ext/adapters/async_adapters.py
Labels: extensions

Fix import errors and linting issues in client.py
  src/dc_api_x/client.py
Labels: none

Update SECURITY_ADVISORIES template and refactor examples for improved clarity and compliance with linting standards
  .github/SECURITY_ADVISORIES/TEMPLATE.md
  examples/rest_api_client.py
  examples/schema_extraction.py
  src/dc_api_x/cli.py
  src/dc_api_x/entity.py
  src/dc_api_x/ext/adapters/__init__.py
  src/dc_api_x/ext/adapters/async_adapters.py
  src/dc_api_x/ext/adapters/graphql.py
  src/dc_api_x/ext/adapters/protocol.py
  src/dc_api_x/ext/auth/database.py
  src/dc_api_x/ext/auth/ldap.py
  src/dc_api_x/ext/auth/oauth.py
  src/dc_api_x/utils/formatting.py
  src/dc_api_x/utils/validation.py
  tests/test_client.py
  tests/test_config.py
Labels: extensions, documentation, testing

Update README and monkeytype guide; enhance monkeytype runner functionality
  README.md
  docs/monkeytype_guide.md
  monkeytype.sqlite3
  scripts/monkeytype_runner.py
  src/dc_api_x/models.py
  tests/unit/test_cli.py
  tests/unit/test_cli_helpers.py
Labels: documentation, testing
