Repository datacosmos-br/dc-api-x, changes with the labels that .github/labeler.yml gives for each.
All labels: plugins, extensions, entity, schema, documentation, testing, dependencies, github-actions

.github/labeler.yml:

# Add 'core' label to any changes in the core module
core:
  - src/dc_api_x/!(plugins|ext|entity|schema)/**/*
  - src/dc_api_x/*.py

# Add 'plugins' label to any change within the plugins folder
plugins:
  - src/dc_api_x/plugins/**/*

# Add 'extensions' label to any change within the ext folder
extensions:
  - src/dc_api_x/ext/**/*

# Add 'entity' label to any change within the entity folder
entity:
  - src/dc_api_x/entity/**/*

# Add 'schema' label to any change within the schema folder
schema:
  - src/dc_api_x/schema/**/*

# Add 'documentation' label to any change to the docs folder
documentation:
  - docs/**/*
  - "**/*.md"

# Add 'testing' label to any change to the tests folder
testing:
  - tests/**/*

# Add 'dependencies' label to any change to dependency files
dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements*.txt

# Add 'github-actions' label to any change to the workflows folder
github-actions:
  - .github/workflows/**/*
  - .github/*.yml

Readicionar arquivos de workflow GitHub e marcar script organização como concluída
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/python-workflow.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/stale.yml
  .github/workflows/summary.yml
  SCRIPT_ORGANIZATION_COMPLETED.md
Labels: documentation, github-actions

Remover arquivos de workflow para permitir push
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/python-workflow.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/stale.yml
  .github/workflows/summary.yml
Labels: github-actions

Configurar estrutura completa do GitHub com arquivos de workflow, templates de issues e PRs, e CODEOWNERS
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/python-workflow.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/stale.yml
  .github/workflows/summary.yml
Labels: documentation, github-actions

Update CODEOWNERS to reflect new team structure
  .github/CODEOWNERS
Labels: none

Configurar estrutura básica do GitHub sem arquivos de workflow
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/python-workflow.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/stale.yml
  .github/workflows/summary.yml
Labels: github-actions

Adicionar instruções para workflows do GitHub
  WORKFLOW_INSTRUCTIONS.md
Labels: documentation

Configurar segurança avançada, lint e instrumentação de código
  .github/README.md
  .github/codeql/codeql-config.yml
  .github/profile/README.md
  .github/workflows/advanced-lint.yml
  .github/workflows/code-coverage.yml
  .github/workflows/codeql-analysis.yml
Labels: documentation, github-actions

Atualizar instruções de workflow e adicionar novos workflows avançados
  .github/workflows/advanced-lint.yml
  .github/workflows/code-coverage.yml
  .github/workflows/codeql-analysis.yml
  WORKFLOW_INSTRUCTIONS.md
Labels: documentation, github-actions

Unificar scripts de segurança no security-scans.yml e atualizar código de cobertura
  .github/workflows/advanced-lint.yml
  .github/workflows/code-coverage.yml
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/python-workflow.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/stale.yml
  .github/workflows/summary.yml
Labels: github-actions

Add GitHub configuration summary document
  GITHUB_CONFIG_SUMMARY.md
Labels: documentation

Add advanced CodeQL configuration
  .github/codeql/codeql-config.yml
Labels: none

Convert project files to English. Updated CODEOWNERS and templates
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  GITHUB_CONFIG_SUMMARY.md
  scripts/auto_lint_fix.sh
Labels: documentation, github-actions

Remove unnecessary MD files from repository
  SCRIPT_ORGANIZATION_COMPLETED.md
  WORKFLOW_INSTRUCTIONS.md
Labels: documentation

Update SECURITY.md with comprehensive security policy
  SECURITY.md
Labels: documentation

Enhance security reporting with GitHub security features
  .github/SECURITY.md
  .github/SECURITY_ADVISORIES/TEMPLATE.md
  SECURITY.md
Labels: documentation

Fix CodeQL alert: Replace ellipsis with pass in protocol class methods
  src/dc_api_x/ext/adapters/protocol.py
Labels: extensions

fix: remove ineffective pass statements from Protocol classes to fix CodeQL warnings
  src/dc_api_x/ext/adapters/protocol.py
Labels: extensions

fix: addressed linting issues (TRY003, TRY301) by abstracting error messages to functions
  src/dc_api_x/ext/adapters/graphql.py
  src/dc_api_x/ext/auth/basic.py
  src/dc_api_x/ext/auth/database.py
  src/dc_api_x/ext/auth/token.py
  src/dc_api_x/models.py
  src/dc_api_x/utils/adapters.py
  src/dc_api_x/utils/validation.py
Labels: extensions

fix: addressed TRY003 issues in client.py by abstracting exception messages to functions
  src/dc_api_x/client.py
Labels: none

fix: addressed TRY003 issues in formatting.py and schema.py by abstracting error messages to functions
  src/dc_api_x/schema.py
  src/dc_api_x/utils/formatting.py
Labels: none

fix: addressed linting issues in formatting.py and schema.py
  src/dc_api_x/schema.py
  src/dc_api_x/utils/formatting.py
Labels: none

fix: resolve most critical type errors reported by mypy
  src/dc_api_x/__init__.py
  src/dc_api_x/entity.py
  src/dc_api_x/ext/auth/token.py
  src/dc_api_x/models.py
  src/dc_api_x/pagination.py
  src/dc_api_x/schema.py
  src/dc_api_x/utils/formatting.py
Labels: extensions

fix: address remaining critical type issues
  src/dc_api_x/__init__.py
  src/dc_api_x/models.py
  src/dc_api_x/schema.py
Labels: none

fix: address more type issues
  src/dc_api_x/__init__.py
  src/dc_api_x/config.py
  tests/test_config.py
Labels: testing

fix: correct create_model usage in schema.py
  src/dc_api_x/schema.py
Labels: none

Fix linting and type issues in dc-api-x module
  src/dc_api_x/__init__.py
  src/dc_api_x/ext/auth/token.py
  src/dc_api_x/models.py
  src/dc_api_x/pagination.py
  src/dc_api_x/schema.py
  src/dc_api_x/utils/formatting.py
Labels: extensions

Fix remaining linting errors
  src/dc_api_x/pagination.py
  src/dc_api_x/schema.py
  src/dc_api_x/utils/formatting.py
Labels: none

Fix import sorting and refactor pagination function
  src/dc_api_x/__init__.py
  src/dc_api_x/pagination.py
Labels: none

Fix remaining type issues and import formatting
  src/dc_api_x/models.py
  src/dc_api_x/schema.py
Labels: none

Add type ignore directives to fix mypy errors
  src/dc_api_x/models.py
  src/dc_api_x/schema.py
  src/dc_api_x/utils/formatting.py
Labels: none

Fix variable naming conventions and type issues
  src/dc_api_x/models.py
  src/dc_api_x/schema.py
  src/dc_api_x/utils/formatting.py
Labels: none

Fix lint issues: Replace global statement with class-based state management in plugin_manager.py and move return to else block in adapters.py
  src/dc_api_x/plugin_manager.py
  src/dc_api_x/utils/adapters.py
Labels: none

Fix FBT001/FBT002: Make boolean parameter keyword-only in PluginState.set_loaded
  src/dc_api_x/plugin_manager.py
Labels: none

Fix linting issues: TRY300 in client.py, FBT001/FBT002 in schema_extraction.py, and I001 in models.py
  examples/schema_extraction.py
  src/dc_api_x/client.py
  src/dc_api_x/plugin_manager.py
Labels: none

Fix security issues found by Bandit scan: replace try-except-pass with proper logging and add noqa comments for safe hardcoded defaults
  src/dc_api_x/cli.py
  src/dc_api_x/constants.py
  src/dc_api_x/ext/adapters/async_adapters.py
  src/dc_api_x/ext/auth/basic.py
  src/dc_api_x/ext/auth/database.py
  src/dc_api_x/ext/auth/token.py
Labels: extensions

Fix linting issues: TRY003, TRY401, A004, S106, FBT001, PLR2004, SIM113 in examples
  examples/github_api_client.py
  examples/multi_protocol_client.py
  examples/rest_api_client.py
  examples/schema_extraction.py
  src/dc_api_x/cli.py
  src/dc_api_x/ext/auth/database.py
Labels: extensions

Fix linting issues: BLE001 blind except, PLR0913 too many arguments, and COM812 trailing comma in cli.py
  src/dc_api_x/cli.py
  src/dc_api_x/exceptions.py
Labels: none

Fix trailing comma issue (COM812) in cli.py
  src/dc_api_x/cli.py
Labels: none

Fix A001: Rename TimeoutError to ApiTimeoutError to avoid shadowing built-in
  src/dc_api_x/exceptions.py
  tests/test_client.py
Labels: testing

Fix PLR0913 (too many arguments) in client.py by using dataclasses for configuration
  src/dc_api_x/client.py
Labels: none
